#cards {
    /* display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto; */
    width: 1200px;
    margin: 100px auto;
}

div.card {
    border-radius: 3px;
    border: 3px solid black;
    width: 8em;
    height: 10em;
    margin: 1em;
    padding: 1em;
    display: inline-block;
    /* grid-column-start: 0;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 3; */
  }

.selected {
    border-color : red !important
}
  
  body {
    font-family: "Trebuchet MS", Helvetica, sans-serif
  }

  .Red {
    color: red;
  }

  .Green {
    color: green;
  }
  
  .Purple {
    color: darkslateblue;
  }