
svg {
  width: 100px;
  height: 50px;
  overflow: unset;
}

table,
td, th {
    border: 1px solid #333;
}

.squiggle {
  height: 50px;
  width: 100px
}

.hide{
  width: 0;
  height: 0;
}

.card {
  border-radius: 15px;
  border: 3px solid black;
  width: 8em;
  height: 13em;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white
}

#cards, .cards {
  /* bg-image source: 
  https://www.toptal.com/designers/subtlepatterns/retina-wood/ 
  made by Alto Mo */
  background-image: url('../images/table.png');
  max-width: 1300px;
  margin: 30px auto;
  padding: 2em 2em;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

*, ::after, ::before{
  box-sizing: content-box;
}

.card-row{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.selected {
  border: 3px solid red;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
              10px 10px 15px rgba(0,0,0,0.5),
              -1px -1px 30px rgba(0,0,0,0.2);
}

.rotated {
  transform: rotate(90deg);
  margin: auto 3em;
}

.selected.rotated {
  box-shadow: 2px -2px 5px rgb(0 0 0 / 50%), 
              10px -10px 15px rgb(0 0 0 / 50%), 
              -1px 1px 30px rgb(0 0 0 / 20%);
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


