<!DOCTYPE html>
<html>
<head>
  <title>Set</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  

  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.js"></script>
  <link href="/static/css/card-styles.css" rel="stylesheet">

  
</head>
<body>
<div id="app"></div>
<div>
</div>
<script src="/static/js/sampleSets.js" type="text/jsx"></script>
<script src="/static/js/board.jsx" type="text/jsx"></script>
<script src="/static/js/shapes.jsx" type="text/jsx"></script>
<script src="/static/js/app.jsx" type="text/jsx"></script>
</body>
</html>
